<div class="container">
  <header class="title-bar">
    <h2 class="text-success" style="text-align: center">
      Your {{ title }} app is running. 🎉
    </h2>
  </header>
  <nav class="nav-bar">
    <ul>
      <div class="d-flex justify-content-around">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li>
          <a routerLink="/microfrontend-a" routerLinkActive="active"
            >M.Frontend A</a
          >
        </li>
        <li>
          <a routerLink="/microfrontend-b" routerLinkActive="active"
            >M.Frontend B</a
          >
        </li>
      </div>
    </ul>
  </nav>
  <main class="body-part">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer" style="text-align: center">
    <lib-angular-version></lib-angular-version>
  </footer>
</div>
